.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 25% 0 25%;
}

.post {
    border: 1px solid;
    border-radius: 10px;
}

img {
    margin: 10px;
    max-width: 50%;
}

li {
    list-style-type: none;
    
}
