.container {
    display: flex;
}

button {
    width: 200px;
    height: 200px;
    font-size: 100px;
    border: none;
    background: transparent;
}

.dark {
    background: black;
    color: white;
}

.light {
    background: white;
    color: black;
}
